__pycache__/
*.py[cod]
*.so
*.egg-info/
.build/
dist/
build/
.venv/
.env
*.log

.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
coverage.xml
htmlcov/

.vscode/
.idea/
*.swp
.DS_Store

model/*.pkl
model/*.npz
model/*.onnx
